@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation";


//GENERAL STYLES
$dark_gray: #26282D;
$light_blue: #03C5C5;

a, li, span, h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  color: $light_blue;

  &:visited{
    color: $light_blue;    
  }

  &:active{
    color: $light_blue;    
  }

  &:link{
    color: $light_blue;    
  }

}

p {

  font-family: 'Lato', sans-serif;
  color: $dark_gray;  

}

//MIXINS

@mixin title_styling($size , $spacing, $color: $light_blue, $weight: 700){

  color: $color;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;  
  display: inline-block;
  text-transform: uppercase;

}

@mixin logo_image_sizing($width, $height, $top, $left){

  background-image: url('/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  left: $left;

}

@mixin border_image(){

  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-position: center 0%;

}



//SPECIFIC STYLES

//LARGE && MEDIUM NAVBAR
div#large_navbar{

  background-color: $dark_gray;
  @include border_image();

  @media #{$medium-only}{
    padding: 45px 0px 30px 0px;
  }

  @media #{$large-up}{
    padding: 25px 0px 24px 0px;
  }

  div.title{

    text-align: left;
    // background-color: red;
    position: relative;
    padding: 0px;

    @media #{$large-up}{
      margin-left: -57px;
    }

    div.logo_image{

      @media #{$medium-only}{
        @include logo_image_sizing(85px, 50px, -2px, 22px);//(width, height, top, left)
      }

      @media #{$large-up}{
        @include logo_image_sizing(114px, 73px, 0px, 210px);//(width, height, top, left)
      }

    }//ends div.logo_image

    h1{

        @media #{$medium-only}{

          @include title_styling(18px, 2px);//(font-size, letter-spacing)
          margin: 0px 0px 0px 103px;        
          line-height: 18px;

        }

        @media #{$large-up}{

          @include title_styling(52px, 7px);//(font-size, letter-spacing)

        }

        &#app{ //changes behavior of the word APP

          @media #{$medium-only}{
            
            margin-top: -50px;
            color: #fff;

          }//ends @media medium-only

          @media #{$large-up}{
            margin-left: 68px;
          }//ends @media large-up
        }//ends &#app
    }//ends h1
  }//ends div.title

  ul.links_list{

    // background-color: yellow;
    text-align: right;

    @media #{$medium-only}{
      margin-right: 10px;
    }

    @media #{$large-up}{
      margin-right: -65px;
    }

    li.nav_link{

      display: inline-block;
      letter-spacing: 2px;

      &:hover{
        border-color: #fff;

        a {
          color: #fff;
        }
      }//ends &:hover

      @media #{$medium-only}{
        margin: 10px 10px;
      }//ends @media medium-only

      @media #{$large-up}{

        margin: 10px -3px;
        padding: 10px 13px;
        border-bottom: 5px solid $light_blue;

        &#firstnav_link {
          padding-left: 0px;
        }
        
        &#lastnav_link {
          padding-right: 0px;
        }

      }//ends @media large-up

      a {
      
        text-transform: uppercase;

        @media #{$medium-only}{ 
          font-size: 15px;
        }//ends @media medium-only

        @media #{$large-up}{ 
          font-weight: 700;
          font-size: 15px;
        }//ends @media large-up
      }//ends a
    }//ends li.navlink
  }//ends ul.links_list
}//ends div#large_navbar

//END OF MEDIUM && LARGE NAVBAR


//START MOBILE NAVBAR

nav.top-bar{

  background-color: $dark_gray;
  position: relative;
  @include border_image();

  ul.title-area {

    margin-left: 85px;
    background-color: red;
    // display: inline-block;
    // margin: 10px 0px;
    // padding: 10px 0px;

    div.logo_image{

      @include logo_image_sizing(85px, 50px, 10px, -80px);//(width, height, top, left)

    }


    h1{

      @include title_styling(18px, 3px, null, 400); //(font-size, letter-spacing, color, weight)

      &#app{
        color: #fff;
      }

    }

  }


}