@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation";


//GENERAL STYLES
$dark_gray: #26282D;
$light_blue: #03C5C5;

a, li, span, h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  color: $light_blue;

  &:visited{
    color: $light_blue;    
  }

  &:active{
    color: $light_blue;    
  }

  &:link{
    color: $light_blue;    
  }

}

p {

  font-family: 'Lato', sans-serif;
  color: $dark_gray;  

}


//SPECIFIC STYLES

//LARGE && MEDIUM NAVBAR
div#large_navbar{

  background-color: $dark_gray;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  // background-size: contain;
  background-position: center 0%;

  @media #{$medium-only}{
    padding: 45px 0px 30px 0px;
  }

  @media #{$large-up}{
    padding: 25px 0px 24px 0px;
  }

  

  div.title{

    text-align: left;
    // background-color: red;
    position: relative;
    padding: 0px;

    @media #{$large-up}{
      margin-left: -57px;
    }

    div.logo_image{

      background-image: url('/images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;

      @media #{$medium-only}{
        width: 85px;
        height: 50px;
        top: -2px;
        left: 22px;
      }

      @media #{$large-up}{
        width: 114px;
        height: 73px;
        top: 0px;
        left: 210px;
      }

    }

    h1{

        display: inline-block;
        color: $light_blue;
        text-transform: uppercase;

        @media #{$medium-only}{
          margin: 0px 0px 0px 103px;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 2px;
          // background-color: red;
          line-height: 18px;

        }//ends @media medium-only

        @media #{$large-up}{
          font-size: 52px;
          font-weight: 700;
          letter-spacing: 7px;
          // background-color: red;

        }//ends @media large-up

        &#app{

          @media #{$medium-only}{
            
            margin-top: -50px;
            color: #fff;

          }//ends @media medium-only

          @media #{$large-up}{
            margin-left: 68px;
          }//ends @media large-up

        }//ends &#app
      

    }//ends h1

  }//ends div.title

  ul.links_list{

    // background-color: yellow;
    text-align: right;

    @media #{$medium-only}{
      margin-right: 10px;
    }

    @media #{$large-up}{
      margin-right: -65px;
    }


    li.nav_link{

      display: inline-block;
      letter-spacing: 2px;

      &:hover{
        border-color: #fff;

        a {
          color: #fff;
        }
      }//ends &:hover

      @media #{$medium-only}{
        margin: 10px 10px;
      }//ends @media medium-only

      @media #{$large-up}{

        margin: 10px -3px;
        padding: 10px 13px;
        border-bottom: 5px solid $light_blue;

        &#firstnav_link {
          padding-left: 0px;
        }
        
        &#lastnav_link {
          padding-right: 0px;
        }

      }//ends @media large-up

      a {
      
        text-transform: uppercase;

        @media #{$medium-only}{ 
          font-size: 15px;
        }//ends @media medium-only

        @media #{$large-up}{ 
          font-weight: 700;
          font-size: 15px;
        }//ends @media large-up

    
      }//ends a
      

    }//ends li.navlink

  }//ends ul.links_list

}//ends div#large_navbar

